
#primary-nav.admin-nav {
	top: 0px;
	background: $primary-color;

	.container {
		width: 100%;
	}

	.navbar-brand {
		font-size: 1.3em;
	    width: 250px;
	    text-align: center;
	    margin: 0px;
	}	

	.nav-prof-pic {
		width: 25px;
		margin-right: 10px;
		border-radius: 100%;
	}

	.navbar-toggler {
		border: 0px;
	}


}

#adminSidebarToggle {
	background: none;
	border: 0px;
	color: white;
	cursor: pointer;
	display: none;
	outline: none !important;
}

.admin-wrapper {
	background: white;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	margin-top: 55px;
	@include flex();
	flex-direction: row;
}

.admin-sidebar {
	@include transition(0.5s);
	z-index: 5000;
	.separator {
		position: relative;
		margin-top: 10px;
		display: block;
		width: 100%;
		height: 1px;
		background: #e4e4e4;
		opacity: 0.2;
	}
	position: fixed;
	width: 250px;
	min-height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	padding: 15px;
	background: #f7f7f7;
	background-size: cover;
	background-position: bottom center;

	.nav.nav-tabs {
		border: 0px;
		display: block;

		li {
			width: 100%;

			a {
				display: block;
				font-family: $pfont;
				color: #212121;
				text-decoration: none;
				letter-spacing: 1.2px;
				font-size: 0.9em;
				padding: 20px;
				opacity: 0.5;
				@include transition(0.5s);
				background: transparent !important;
				border: none !important;
				&:hover {
					opacity: 0.7;
				}

				i {
					margin-right: 5px;
				}

				&.active {
					opacity: 1;
					color: $primary-color;
					font-weight: bold;
				}

			}

		}

	}

}

.admin-content {
	font-family: $pfont;
	width: 90%;
	padding-right: 15px;
	margin-left: 250px;

	#demo {
		padding: 20px;
	}

	.tab-pane {
		padding: 15px;
		&.no-padding {
			padding: 0px;
		}
	}

	.full-width-tabs {
		flex-wrap: wrap;
		border: 0px;

		li {
			flex-grow: 1;
			text-align: center;

			a {
				background: transparent !important;
				color: #2c2c2c;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1.3px;
				opacity: 0.3;
				@include transition(0.5s);
				font-weight: bold;
				font-size: 0.8em;
				border: none !important;
				padding: 20px;
				&:hover {
					opacity: 1;
				}

				&.active {
					opacity: 1;
					color: $primary-color;
				}
			}

		}

	}

}



 .admin-table {
 margin-top: 20px;
  width: 100%;
  border-radius: 0px;
  background: white;
  color: #2c2c2c;
  overflow: hidden;

  tr.head {
  	background: $primary-color;
  	color: white;
  	text-align: center;
  	letter-spacing: 1.3px;
  	text-transform: uppercase;
  	font-size: 0.8em;
  	font-weight: bold;
  	color: white;
  }

  tr {
  	border-bottom: 1px solid #e4e4e4;
  }

  tr {
    border-radius: 0px;
  }


  th,td {
  	text-align: center;
  }

  .perk-desc {
  	margin: 0px;
  	font-size:1em;
  }

  td {
  	font-size: 0.85em;
  }

  .tier-icon {
  	width: 40px;


  }

  i {
		color: $primary-color;
	}

	.progress-bar {
		background: $primary-color;
	}

	.badge {
		background: $green;

	}

	.btn.btn-table {
		background: #ccc;
		color: white;
		text-transform: uppercase;
		padding: 12px;
		margin-right: 6px;
		&:last-child {
			margin-right: 0px;
		}
		letter-spacing: 1.2px;
		font-size: 0.7em;
		border-radius: 2px;
		opacity: 0.6;
		@include transition(0.5s);

		&:hover {
			opacity: 1;
		}
	}

	.btn.btn-claim {
		background: $primary-color;
	}

	.btn.btn-details {
		background: $red;
	}

	.start, .end, i {
		display: inline-block;
		p {
			font-size: 0.75em;
			margin: 0px;
		}
		vertical-align: middle;
	}

	.start {
		margin-right: 10px;
	}

	.end {
		margin-left: 10px;
	}

}

.intro-admin {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	color: #212121;
	padding: 20px;
	padding-bottom: 0px;

	&.small-screen {
		display: none;
		text-align: center;
		color: #212121;
	}

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0px;
	}

	.head {
		font-size: 0.6em;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 10px;
		
	}

	.value {
		font-size: 1.1em;
	}

}

.text-green {
	color: $green;
}

.admin-chat-row {
	margin: 0px;
	margin-top: 20px;
	
	.admin-chat-aside {
		background: white;
		height: 100%;
		border-radius: 6px;

		.leaderboards {
			padding: 20px;
		}

		.support {
			padding: 30px;
			align-self: center;

			.head {
				font-size: 1.1em;
				padding-bottom: 15px;
				border-bottom: 1px solid #e4e4e4;
			}

			.tag {
				font-size: 1.5em;
				letter-spacing: 1.3px;
				font-weight: bold;
				opacity: 0.7;
			}

			a {
				color: $primary-color;
				text-decoration: none;
				font-size: 2em;
			}

			.smalltag {
				text-transform: uppercase;
				font-weight: bold;
				opacity: 0.6;
				font-size: 0.8em;
			}

		}

		.head {
			text-transform: uppercase;
			font-family: $pfont;
			font-size: 0.9em;
			font-weight: bold;
			opacity: 0.5;
		}

		.entry {
			span {
				color: $green;
				font-weight: bold;
			}
		}

	}

	.left-col {
		padding-right: 10px;
	}

	.right-col {
		padding-left: 10px;
	}

	.left-col, .right-col {
		@media screen and (max-width: 540px) {
			padding: 0px;
		}
	}

}

.admin-chat {
	position: relative;
	height: 100%;
	background: white;
	border-radius: 6px;

	.live-chat-holder {
		position: relative;
		z-index: 2;
		max-height: 800px;
		border: none;

		.form-group {
			margin: 0px;
		}

		.chat-messages {
			z-index: -1;
			max-height: 500px;
			padding-left: 20px;
			padding-right: 20px;
			overflow-y: auto;

			.message {
				text-align: left;
				padding: 15px;


				.box {
					margin-left: 0px;
					max-width: 100%;
					margin-right: 20px;
					width: 100%;
					padding: 15px;
					background: #f7f7f7;
					.msg {
						font-size: 0.86em;
						margin: 0px;
					}

				}

				.name {
					display: inline-block;
					margin-bottom: 5px;
				}

				.date {
					display: inline-block;
					margin: 0px;
					opacity: 0.4;
					margin-bottom : 5px;
					font-size: 0.8em;
					margin-left: 7px;
					font-weight: bold;
				}

				&.inverse {
					.box {
						background: $primary-color;
						color: white;
						text-align: left;
						padding: 15px;
					}
				}

			}

		}
	}

	.chat-reply {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		.form-control {
			border: 0px;
			font-family: $pfont;
			padding-left:8px;
			background: #f7f7f7;
		}

		.btn-default {
			background: #f7f7f7;
			color: $primary-color;
			border-radius: 0px;
			border: none;

		}

	}

}

.admin-pagination {
	margin-top: 30px;

	li.active .page-link {
		background: $primary-color;
		border-color: $primary-color;
	}

}

.adminModal {

	.modal-dialog {
		max-width: 50000px;
		width: 30%;
		margin-top: 10%;

		@media screen and (max-width: 1500px) {
			width: 50%;
			margin-top: 2%;
		}

		@media screen and (max-width: 1024px) {
			width: 80%;
			margin-top: 10%;
		}

		@media screen and (max-width: 768px) {
			width: 100%;
			margin-top: 0px;
		}
	}

	.hero-counter {
		max-width: 40%;
		margin: 0 auto;
		@media screen and (max-width: 520px) {
			max-width: 60%;
		}
	}

	.modal-content {
		border-radius: 2px;
	}

	.header-strip {
		
		padding: 20px;
		background: url('../img/admin/sidebar-bg.jpg');
		background-size: cover;
		
		
		.header-main {
			@include flex();
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.tier {
			flex-grow: 1;
			text-align: center;
			color: white;
			align-self: center;
			flex: 1;


			p {
				font-family: $pfont;
				color: white;
				font-size: 0.6em;
				opacity: 0.8;
				text-transform: uppercase;
				letter-spacing: 1.3px;
			}

			.small {
				opacity: 1;
				margin-bottom: 3px;
				font-size: 0.8em;
			}

			.big {
				padding-top: 20px;
				font-size: 4.95em;
				margin-bottom: 4px;
			}

			i {
				vertical-align: middle;
				font-size: 2em;
				color: $primary-color;
			}

			img {
				width: 130px;
			}

		}

		.counter-strip {
			display: block;
			text-align: center;
		}

	}

	.body-strip {

		.bid-info {
			padding: 20px;
			@include flex();
			justify-content: center;
			flex-wrap: wrap;

			.left-block, .right-block {
				flex-grow: 1;
				font-family: $pfont;
				color: #2c2c2c;
				text-align: center;

				.head {
					font-size: 0.9em;
					letter-spacing: 1.3px;
					opacity: 0.9;
					margin-bottom: 5px;
					text-transform: uppercase;
				}

				.value {
					font-weight: bold;
					font-size: 2em;
					letter-spacing: 1.1px;
					margin-bottom: 0px;
				}

			}

		}

		.form-group {
			padding: 20px;
			text-align: center;

			.form-control {
				border: 1px solid #e4e4e4;
				border-bottom: 2px solid #e4e4e4;
				@include transition(0.5s);
				font-family: $pfont;
				border-radius: 2px;
				height: 50px;
				margin: 0 auto;
				text-transform: uppercase;
				letter-spacing: 1.2px;
				max-width: 80%;
				@media screen and (max-width: 520px) {
					max-width: 100%;
				}
				font-size: 0.9em;
				margin-bottom: 20px;

				&:focus {
					border-bottom-color: $primary-color;
				}
			}

			.btn.btn-submit-bid {
				border-radius: 40px;
				background: $primary-color;
				color: white;
				font-family: $pfont;
				letter-spacing: 1.3px;
				text-transform: uppercase;
				outline: none;
				cursor: pointer;
				@include transition(0.5s);
				padding: 15px;
				font-size: 0.9em;
				min-width: 160px;
				&:hover {
					min-width: 190px;
				}
			}

		}

	}

}

#faq-tab {
	.faq-box {
		margin-bottom: 20px;
		p {
			margin-bottom: 0px;
		}

		.head {
			font-weight: bold;
			font-size: 1.3em;
			margin-bottom: 12px;
		}

		font-family: $pfont;
		letter-spacing: 1.1px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e4e4e4;

	}
}

.rest-content-holder {
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 30px;
	max-width: 500px;
	border: 1px solid #e4e4e4;
	border-style: dashed;
	padding: 20px;


	h4 {
		margin-bottom: 20px;
	}

	.form-group {
		text-align: center;
		.form-control {
			border: 1px solid #e4e4e4;
			border-bottom: 2px solid #e4e4e4;
			margin-bottom: 15px;
			border-radius: 2px;
			font-family: $pfont;
			letter-spacing: 1.3px;
			height: 50px;
			@include transition(0.5s);

			&:focus {
				border-bottom-color: $primary-color;
			}
		}

		.btn.btn-payout {
			margin: 0 auto;
			background: $primary-color;
			border-radius: 40px;
			color: white;
			text-transform: uppercase;
			padding: 15px;
			min-width: 150px;
			font-size: 0.9em;
			cursor: pointer;
			font-family: $pfont;
			letter-spacing: 1.3px;
			@include transition(0.5s);

			&:hover {
				min-width: 190px;
			}
		}
	}

}

.tab-head {
	color: white;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: bold;
}

.tab-sub-head {
	font-size: 1.3em;
	margin-bottom: 20px;
}

.perk-desc {
	.success {
		color: $green;
		font-weight: bold;
		text-transform: uppercase;
	}
	.other {
		color: $red;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.rule-list {
	padding: 0px;
	list-style: none;

	li {
		padding: 15px;
		font-family: $pfont;
		position: relative;

		&:before {
			content: '';
			width: 5px;
			height: 5px;
			position: absolute;
			left: 0;
			background: $primary-color;
			border-radius: 100%;
			top: 45%;
		}

		span {
			font-weight: bold;
			color: $red;
		}
	}

}

.admin-table {
	th {
		cursor: pointer;
		position: relative;
		i {
			position: absolute;
			right: 10px;
			top: 18px;
			color: white;
		}
	}
}

.admin-content {
	@include transition(0.5s);

	.responsive-table {
		margin-top: 20px;
		@include transition(0.5s);
		.dataTables_wrapper {
			text-align: left;
		}

		.dataTables_length {
			text-align: left;
			display: none;
			vertical-align: middle;
			margin-right: 20px;
			padding: 20px;
			select {
				font-size: 0.8em;
				font-family: $pfont;
				padding-left:15px;
				padding-right: 15px;
				margin-left: 10px;
				margin-right: 10px;
				outline: none;

			}
		}

		.dataTables_filter {
			display: none;
			text-transform: uppercase;
			font-size: 0.8em;
			letter-spacing: 1.2px;
			vertical-align: middle;
			text-align: left;

			label {
				margin: 0px;
			}

			input {
				box-shadow: none !important;
				font-family: $pfont;
				margin-left: 10px;
				border: 1px solid #e4e4e4;
				border-bottom: 2px solid #e4e4e4;
				@include transition(0.5s);
				outline: none;
				font-size: 1em !important;
				padding-left: 15px;
				padding-right: 15px;
				min-width: 230px;
				height: 30px;
				&:focus {
					border-bottom-color: $primary-color;
				}
			}

			input::-webkit-input-placeholder::before {
				color: #666;
				content: "Search";
			}

		}

		.dataTables_info {
			margin-top: 20px;
			text-align: center;
		}

		.dataTables_paginate {
			text-align: center;
			margin-top: 20px;
			padding: 20px;
			padding-top: 0px;
			a {
				color: $primary-color;
				opacity: 0.8;
				padding: 8px;
				margin-right: 5px;
				margin-left: 5px;
				text-decoration: none;
				@include transition(0.5s);
				width: 40px;
				outline: none;
				height: 40px;
				cursor: pointer;
				display: inline-block;
				border-radius: 100%;
				vertical-align: middle;

				&:hover {
					opacity: 0.5;
					color: white;
					background: $primary-color;
				}

				&.next, &.previous {
					width: auto;
					height: auto;

					&:hover {
						opacity: 1;
						color: $primary-color;
						background: transparent;
					}
				}

				&.current {
					opacity: 1;
					font-weight: bold;
					background: $primary-color;
					color: white;
				}
			}
		}

	}
}

.table-counter {
	color: #2c2c2c;

	max-width: 60%;
	margin: 0 auto;

	.num, .tt {
		display: inline-block;
	}

	.tt {
		margin-bottom: 5px;
	}

}

.tiny-hide {
	font-size: 0em;
	display: none;
}


.admin-content {
	#demo-hero {
		padding-top: 40px;
		background: none !important;
		.block, .small, .preferred-roles, .preferred-champs, .spell-selection {
			color: #2c2c2c;
		}

		.form-control {
			margin-bottom: 0px;
		}

		.preferred-roles.in-demo .role p {
			color: #2c2c2c;
		}

		.btn.btn-demo-hero {
			&:hover {
				background: $primary-color;
				opacity: 0.5;
			}
		}

		.order-loading {
			.loader-text {
				color: #2c2c2c;
			}
			.loader {
				border-color: rgba(0,0,0,0.2);
				border-top-color: #2c2c2c;
				border-right-color: #2c2c2c;
			}
		}

	}

}

.admin-content {
	background: url('../img/admin/admin-bg.jpg');
	background-size: cover;
	.nav.nav-tabs {
		background: white;
		border-radius: 6px;
		margin-bottom: 20px;
	}

	.tab-pane .tab-content {
		background: white;
		border-radius: 6px;
	}

	.order-row {
		margin-top: 0px !important;
	}

}

.no-padding {
	padding: 0px;
}

.responsive-table {
		th {
			padding: 15px;
		}	

		td {
			padding: 10px;
			img {
				width: 30px;
			}
		}

}

.admin-table {
	margin-top: 0px;
}

.table-counter {
	.timer-component {
		p {
			margin-bottom: 0px;
		}
		.num {
			font-weight: bold;
			font-size: 1.1em;
		}
	}
}

.bg-white {
	background: white;
	border-radius: 6px;
}

.color-primary {
	color: $primary-color;
}