

.hero-counter, .hero-counter-new {
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;

	.timer-component {
		padding: 15px;
	}

	.num {
		font-weight: bold;
		font-size: 1.3em !important;
		margin-bottom: 0px !important;
	}

	.tt {
		font-family: 'Quicksand', sans-serif;
		opacity: 0.5;
		font-size: 0.7em !important;
		margin-top: 10px !important;
	}

}