#demo {
	background: url('../img/demo/demo-bg.jpg');
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 70px;
	@include transition(0.5s);

	.game-history {
		.table {
			th {
				background: $primary-color;
				color: white;
				text-transform: uppercase;
				font-family: $pfont;
				letter-spacing: 1.2px;
				font-size: 0.7em;
				border: none;
			}
			td {
				font-family: $pfont;
				font-size: 0.9;
			}

			.badge {
				background: $green;
				color: white;
				text-transform: uppercase;
				padding: 7px 15px 7px 15px;
				border-radius: 3px;

				&.defeat {
					background: $red;
				}

			}

		}
	}

	.live-chat-block {
		min-height: 621px;
		position: relative;
		display: block;

		.block-body {
			min-height: 569px;
			display: block;
		}

		.live-chat-container {
			position: relative;
			padding: 15px;
			min-height: 569px;
			width: 100%;

			.chat-container {
				max-height: 532px;
				overflow-y: auto;

				.message-box {
					width: 100%;
					margin-bottom: 20px;
					font-family: $pfont;

					.intro {
						font-size: 0.8em;
						span {
							opacity: 0.5;
							margin-left: 10px;
						}
						margin-bottom: 5px;
					}

					.message {
						background: #f7f7f7;
						border-radius: 3px;
						color: #212121;
						padding: 10px;
						max-width: 80%;
					}

				}



				.message-box.inverse {
					.intro {
						text-align: right;
					}

					.message {
						margin-left: auto;
						background: $primary-color;
						color: white;
					}
				}

			}

			.chat-input {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				i {
					position: absolute;
					right: 15px;
					top: 10px;
					cursor: pointer;
					color: $primary-color;
				}

				.form-control {
					width: 100%;
					font-family: $pfont;
					border: none;
					border-top: 1px solid #e4e4e4;
					background: #f7f7f7;
					padding-right: 35px;
				}

			}

		}

	}

	.info-strip {
		background: white;
		color: #212121;
		line-height: 23px;
		margin: 0px;
		padding: 20px;
		p {
			line-height: 23px;
			margin: 0px;
			letter-spacing: 1.3px;
			font-family: $pfont;
		}
	}


	.big-piece, .small-piece {

		.row {
			@include flex();
			flex: 1;


			@media screen and (max-width: 768px) {
				display: block;
			}
		}

	}

	.big-piece {
		.row {
			.block {
				height: 100%;
			}
		}
	}

	.booster {
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
		.booster-head {
			margin-right: 15px;

			font-family: $pfont;
			font-size: 0.7em;
			text-transform: uppercase;
			font-weight: bold;
			opacity: 0.6;
		}
		.booster-name {
			font-family: $pfont;
			font-size: 0.9em;
			font-weight: bold;
			margin-bottom: 0px;
		}
	}

	.streaming {
		.btn {
			width: 100%;
			&:last-child {
				margin-top: 10px;
			}
		}
		p {
			font-family: $pfont;
			letter-spacing: 1.1px;
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}

	.input-group {
		border-radius: 3px;
		width: 70%;
		margin: 0 auto;

		.input-group-addon {
			background: white;
			border: 1px solid #e4e4e4;
			color: $primary-color;
			font-family: $pfont;
			border-right: 0px;
			font-weight: bold;

			&.inv {
				border-right: 1px solid #e4e4e4;
				border-left: 0px;
			}
		}

		.form-control {
			border: 1px solid #e4e4e4;
			box-shadow: none;
			font-family: $pfont;
			font-weight: bold;
			letter-spacing: 1.2px;
			text-align: right;
			border-left: 0px;
			border-right: 0px;
		}

	}


	.btn {
		cursor: pointer;
	}

	.form-group {
		&:last-child {
			margin-bottom: 0px;
		}
	}

	.block {
		background: white;
		border-radius: 6px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0px;
		}

		.block-head {
			text-align: center;
			font-family: $pfont;
			text-transform: uppercase;
			font-weight: bold;
			padding: 15px;
			font-size: 0.9em;
			border-bottom: 1px solid #e4e4e4;
		}

		.block-body {
			padding: 15px;

			&.no-pad {
				padding: 0px;
			}

			.rank-list {
				margin-bottom: 15px;
				padding-bottom: 15px;
				padding: 15px;
				@include flex();
				flex: 1;
				flex-wrap: wrap;
				border-bottom: 1px solid #e4e4e4;
				justify-content: space-between;

				.rank {
					text-align: center;
					padding: 5px;
					img {
						width: 80px;
					}

					.head {
						font-family: $pfont;
						text-transform: uppercase;
						font-size: 0.85em;
						margin-bottom: 10px;
					}

					.value {
						font-weight: bold;
						font-size: 0.9em;
						margin-top: 10px;
						margin-bottom: 0px;
						font-family: $pfont;
					}

				}

			}

			.order-progress {
				text-align: center;
				display: block;
				padding: 15px;

				.head {
					text-transform: uppercase;
					font-family: $pfont;
					font-size: 0.9em;
					margin-bottom: 50px;
				}

			}

		}

	}

	.order-row {

		[class*='col-lg-'] {
			padding-left: 15px;
			padding-right: 15px;
		}

		.options-tab-content {
			margin-top: 30px;
			text-align: center;

			.info {
				font-family: $pfont;
				letter-spacing: 1.2px;
				font-size: 0.9em;
			}

			.form-elements {
				text-align: left;
				font-family: $pfont;
				.input-group {
					width: 100%;
				}

				.form-control {
					text-align: left;
					font-family: $pfont;
					border-right: 1px solid #e4e4e4;
				
					&:focus {
						border-color: #2c2c2c;
					}
				}

				textarea {
					background: #f7f7f7;
				}

				margin-bottom: 30px;

			}

			.shorten-center {
				width: 80%; 
				margin: 0 auto;
				text-align: center;
				@media screen and (max-width: 540px) {
					width: 100%;
				}
			}

			#herosTab {
				.hero-selection {
					.btn {
						width: 100%;
						&.btn-deactivated {
							cursor: normal;
							background: $red;
							opacity: 0.5;
						}
					}

					.hero-row {
						@include flex();
						flex: 1;
						margin-bottom: 25px;
						justify-content: space-between;




						.hero-class {
							img {
								width: 50px;
							}
						}

						.heros {
							@include flex();

							.hero {
								cursor: pointer;
								img {
									width: 50px;
									border-radius: 3px;
									border: 2px solid #e4e4e4;
									opacity: 0.6;
									@include prefix(filter, grayscale(100%), webkit moz o ms);
									@include transition(0.5s);
								}
								margin-right: 10px;
								&:last-child {
									margin-right: 0px;
								}

								&:hover {
									img {
										opacity: 1;
										@include prefix(filter, grayscale(0%), webkit moz o ms);
									}
								}

								&.active {
									img {
										opacity: 1;
										@include prefix(filter, grayscale(0%), webkit moz o ms);
										border: 2px solid $primary-color;
									}
								}
							}

						}

					}
				}
			}

			#gameAccountTab {

				.platform-selection {
					@include flex();
					justify-content: space-between;
					margin-top: 30px;
					margin-bottom: 30px;
					.platform {
						flex-grow: 1;
						font-family: $pfont;
						cursor: pointer;
						opacity: 0.5;
						color: #212121;
						border: 2px solid transparent;
						font-weight: bold;
						@include transition(0.5s);

						&:hover {
							opacity: 1;
						}

						i {
							margin-right: 10px;
						    font-size: 1.4em;
    						padding: 10px;
						}

						img {
							width: 50px;
							margin-right: 10px;
						}

						&.active {
							border-bottom: 2px solid $primary-color;
							border-top: 2px solid $primary-color;
							opacity: 1;
						}


					}

				}

			}

		}

		.nav-options {
			.nav-item {
				.nav-link {
					border: none;
					background: transparent;
					color: #212121;
					opacity: 0.5;
					cursor: pointer;
					font-family: $pfont;
					text-transform: uppercase;
					font-size: 0.7em;
					font-weight: bold;
					border-bottom: 2px solid transparent;
					border-radius: 0px;
					letter-spacing: 1.2px;
					padding: 18px;

					@include transition(0.5s);

					i {
						margin-right: 10px;
					}


					&:hover {
						opacity: 1;
					}

					

					&.active {
						color: $primary-color;
						opacity: 1;
						border-bottom: 2px solid $primary-color;
					}
				}
			}
		}

		margin-top: 40px;

		.right-col {
			@include flex();
			flex-direction: column;
			justify-content: space-between;
		}



		.margin-top-row {
			margin-top: 30px;
		}

		.order-info-holder {
			@include flex();
			justify-content: space-between;
		}

		.btn-order {
			background: $primary-color;
			padding: 12px 20px 12px 20px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.9em;
			font-family: $pfont;
			border-radius: 3px;
			min-width: 130px;
		}

		.right-side {
			align-self: center;
		}

		.left-side {
			align-self: center;
			img {
				width: 70px;
				border-radius: 6px;
				display: inline-block;
				vertical-align: middle;
			}
			.text {
				display: inline-block;
				margin-left: 15px;
				vertical-align: middle;

				.order-head {
					font-family: $pfont;
					font-weight: bold;
					font-size: 1.1em;
					letter-spacing: 1.2px;
					margin-bottom: 6px;
				}

				.loader {
					.text {
						font-size: 0.9em;
						opacity: 0.8;
						display: inline-block;
						vertical-align: middle;
						font-family: $pfont;
						margin: 0px;
					}

					.loader-in {
						display: inline-block;
						width: 25px;
						height: 25px;
						background: transparent;
						margin-right: 5px;
						vertical-align: middle;
						border-radius: 100%;
						border: 2px solid transparent;
						border-top: 2px solid $primary-color;
						border-right: 2px solid $primary-color;
						@include prefix(animation, loaderSpin 5s linear infinite, webkit moz o ms);
					}

					@-webkit-keyframes loaderSpin {
						0% {
							@include prefix(transform, rotate(0deg), webkit moz o ms);
						}
						100% {
							@include prefix(transform, rotate(360deg), webkit moz o ms);
						}
					}

				}

			}
		}

	}

}