// footer.scss

.footer {
	background: #e4e4e4;
	color: white;
	padding: 0px;

	.logo-strip {


		img {
			width: 50px;
			display: inline-block;
		}

		p {
			margin: 0px;
			color: #212121;
			font-family: $pfont;
			font-weight: bold;
			letter-spacing: 1.3px;
			display: inline-block;
			margin-bottom: 15px;
			font-size: 2em;
			@include prefix(transform, translateY(6px), webkit moz o ms);
		}

	}

	.content-strip {
		color: #212121 !important;
		padding: 30px;

		.desc {
			font-family: 'Josefin Sans', sans-serif;
			opacity: 0.6;
			margin: 0px;
		}

		.footer-links {
			list-style: none;
			margin: 0px;
			padding: 0px;

			li {
				padding: 12px;
				border-bottom: 1px solid rgba(255,255,255,0.1);

				i {
					color: $primary-color;
					margin-right: 15px;
				}

				a {
					color: #212121;
					opacity: 0.7;
					font-family: 'Josefin Sans', sans-serif;
					text-decoration: none;
					@include transition(0.2s);

					&:hover {
						opacity: 1;
					}
				}

			}
		}

		.contact-head {
			font-family: 'Josefin Sans', sans-serif;
			font-weight: bold;
			color: #212121;
			text-transform: uppercase;
			font-size: 0.9em;
			letter-spacing: 1.3px;
			font-size: 0.9em;
			padding-left: 13px;
			padding-top: 15px;
		}

		.contact-list {
			list-style: none;
			padding: 0px;
			margin: 0px;

			li {
				padding: 13px;
				color: #212121;
				font-family: 'Josefin Sans', sans-serif;

				a {
					color: #212121;
					opacity: 0.7;
					text-decoration: none;
					@include transition(0.2s);

					&:hover {
						opacity: 1;
					}
				}

				i {
					color: $primary-color;
					margin-right: 15px;
				}

			}

		}


	}

	.copyright-strip {
		padding: 20px;
		border-top: 1px solid rgba(255,255,255,0.2);
		p {
			text-align: left;
			font-family: 'Josefin Sans', sans-serif;
			color: #212121;
			opacity: 0.6;
			font-size: 0.8em;
		}
	}

}