// general.scss

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
	width: 100%;
	overflow-x: hidden;
	background: black;
}

body {
	padding: 0px !important;
}

.padding-none {
	padding: 0px;
}

#back-to-top {
	position: fixed;
	right: 2%;
	bottom: 2%;
	z-index: 50;

	i {
		color: white;
		background: $primary-color;
		width: 50px;
		height: 50px;
	    padding: 17.5px;
    	padding-top: 15px;
		font-size: 1.3em;
		border-radius: 100%;
	}

}


.padding-top {
	padding-top: 60px;
}

.padding-bottom {
	padding-bottom: 60px;
}

.bg-black-overlay {
	position: absolute;
	z-index: -3;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.6;
	top: 0;
	left: 0;
}

.net-overlay {
	position: absolute;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
	background: url('../img/bg-net-tile.png');
	background-size: 80px;
	top: 0;
	left: 0;
}

.include-flex {
	@include flex();
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-self: center;
}

.flex-vertical {
	flex-direction: column;
}