// home.scss

h1, h2, h3, h4, h5 {
	font-family: $montserrat !important;
}

$primary-color: #f89d19;
$secondary-color: #bfbfbf;

// navbar.scss

#top-nav {
	@include transition(0.5s);
	&.scrolled {
		background: $primary-color;
	}

	padding: 0px;
	background: transparent;
	border: 0px;
	border-radius: 0px;
	z-index: 40;
	.nav-item {
		.nav-link {
			padding: 10px;
			color: white;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 0.9em;
		}
	}

	.dropdown {
		.nav-link {
			font-size: 0.79em;
			padding-top: 13px;
		}
	}

	.dropdown-icon {
		font-size: 0.8em;
		color: white;
		opacity: 0.9;
		margin-right: 5px;
	}

	.flag-icon {
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.dropdown-menu {
		margin: 0px;
		padding: 0px;
		background: transparent;

		.dropdown-item {
			padding: 10px;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 0.9em;
			background: #f5f5f5;
			color: #212121;
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}



		}


	}

	.dropdown-menu {
		z-index: 10;
		border-radius: 0px;
		border: 0px;
		color: #2c2c2c;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 0.9em;

	}

	#buyLolAccountCollapse {
		background: #2c2c2c;
		position: fixed;
		left: 0;
		top: 41px;
		min-width: 100vw;
		padding: 15px;
		@include transition(0.3s);

		img {
			width: 100%;
		}

		a {
			opacity: 1;
			text-decoration: none;
			
			img, p {
				opacity:1;
				@include transition(0.5s);
			}

			&:hover {
				img, p {
					opacity: 0.5;
				}
			}

		}
		text-align: center;
		p {
			color: white;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 1.4em;
			margin-top: 10px;
			margin-bottom: 0px;
		}


	}



}

#primary-nav {


	@include transition(0.5s);
	top: 41px;
	background: transparent;
	border: 0px;
	z-index: 30;

	.navbar-toggler {
		border-color: #fff;
		border-radius: 0px;

		span {
			color: white;
			padding: 8px;
		}

	}

	&.scrolled {
		background: #212121;
		top: 41px;
		.navbar-brand {
			img {
				width: 35px;
			}
			font-size: 1.1em;
			@include transition(0.5s);
		}

	}

	@media screen and (max-width: 520px) {
		top: 0px;
		&.scrolled {
			top: 0px;
		}
	}

	.navbar-brand {
		img {
			width: 50px;
			margin-right: 10px;
			@include transition(0.3s);
		}

		
		color: white;
		font-size: 1.2em;
		font-family: $montserrat;
		font-weight: bold;
		letter-spacing: 1.3px;
	}


	.left-nav {
		.nav-item {
			.nav-link {
				line-height: 30px !important;
			}
		}
	}

	.nav-item {



		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}

		.nav-link {

			outline: none;

			&:after {
				@include transition(0.5s);
				position: absolute;
				content: '';
				bottom: 0px;
				left: 0;
				outline: none;
				right: 0;
				width: 0%;
				margin: 0 auto;
				height: 2px;
				background: $secondary-color;
			
				i {
					font-size: 0.6em;
				}

			}

			&:hover {
				&:after {
					width: 70%;
				}
			}

			color: white;
			padding: 5px;
			font-size: 0.8em;
			position: relative;
			font-family: $montserrat;
		}



		&.active {

			.nav-link {
				&:after {
					width: 80%;
				}
			}

		}


		.ctaBtn {
			&:after {
				background: $primary-color;
			}
		}

	}

	#boosterAppBtn {
		@include transition(0.5s);
		@include prefix(animation, pulse 3s linear infinite, webkit moz o ms);
	}

	@-webkit-keyframes pulse {
		0% {
			text-shadow: none;
		}
		50% {
			text-shadow: 0px 0px 20px #71BFFF, 0px 0px 20px #71BFFF;
		}
		100% {
			text-shadow: none;
		}
	}

	.nav-scroll {
		opacity: 0;
		.nav-link {
			font-size: 0px;
		}


		@include transition(0.5s);

		&.scrolled {
			opacity: 1;
			.nav-link {
				font-size: 0.8em;
			}
		}

	}

	.dropdown-menu {
		padding: 0px;
		margin: 0px;
		margin-top: 14px;
		border-radius: 0px;
		border: 0px;

		.dropdown-item {
			font-family: 'Josefin Sans', sans-serif;
			padding: 15px;
			background: rgba(0,0,0,0.8);
			color: #fff;

			&:focus {
				opacity: 0.8;
			}



		}	

	}

	#prices-btn {
		color: white;
		background: $primary-color;
		padding: 13px;
		line-height: 13px;
	}

	#login-btn {
		color: $primary-color;
		background: #f5f5f5;
		padding: 13px;
		line-height: 13px;
		border-radius: 2px;
	}

}

		#demo-btn {
			color: #212121 !important;
			background: #f5f5f5;
			border: none !important;
		}

		#prices-btn-home {
			color: white;
			background: $primary-color;
			padding: 13px;
			line-height: 13px;
			border: none !important;
			border-radius: 2px;
		}

		#login-btn {
			color: $primary-color;
			background: #f5f5f5;
			padding: 13px;
			line-height: 13px;
			border-radius: 2px;
		}

.modal-open {
	padding-right: 0px !important;
}

#loginModal, #registerModal {
	
	.modal-dialog {
		margin-top: 10%;

		.modal-content {
			border-radius: 0px;
			border: 0px;
			text-align: center;
			position: relative;

			.modal-color-overlay {
				position: absolute;
				background: #185B75;
				opacity: 0.6;
				min-width: 100%;
				min-height: 100%;
			}

			.modal-body {
				border-radius: 0px;
				border: 0px;
				padding: 40px;

				h1 {
					font-family: 'Josefin Sans', sans-serif;
					color: white;
					font-size: 2.3em;
					text-transform: uppercase;
					margin-bottom: 30px;
				}

				.alert.alert-error {
					background: rgba(218,76,76,0.4);
					color: white;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 0.9em;
					border-radius: 0px;
				}

				.alert.alert-success {
					background: rgba(164,209,79,0.4);
					color: white;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 0.9em;
					border: 0px;
					border-radius: 0px;
				}

				.input-group {
					margin-bottom: 25px;
					.input-group-addon {
						background: rgba(0,0,0,0.4);
						color: white;
						padding: 20px;
						border: 0px;
						border-right: 0px;
						border-radius: 0px;
					}

					.form-control {
						padding: 20px;
						color: white;
						border: 0px;
						border-left: 0px;
						box-shadow: none;
						font-family: 'Josefin Sans', sans-serif;
						border-radius: 0px;
						background: rgba(0,0,0,0.4);
						outline: none;

						&:focus {
							box-shadow: none;
							border: 0px;
						}


					}

				}

				.btn.btn-form {
					background: white;
					border-radius: 3px;
					min-width: 40%;
					color: #2c2c2c;
					text-transform: uppercase;
					padding: 15px;
					display: block;
					margin: 0 auto;
					margin-bottom :30px;
					cursor: pointer;
					@include transition(0.5s);

					&:hover {
						min-width: 60%;
					}
				}

				a {
					display: block;
					color: white;
					font-family: 'Quicksand', sans-serif;
					margin-bottom: 15px;
					font-size: 0.8em;
					outline: none;
					border: 0px;

					&:focus {
						outline: none;
					}
				}

			}

		}

	}

}

#loginModal {
	
	.modal-dialog {
		.modal-content {
			background: url('../img/login-modal-bg.jpg');
			background-size: cover;
			position: relative;

			.modal-net {
				background: url('../img/bg-net-tile.png');
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				z-index: 1;
				background-size: 50px;
			}

			.modal-body {
				z-index: 20;
			}

		}
	}

}

#registerModal {
	.modal-dialog {
		margin-top: 1%;
		min-width: 50%;
		.modal-content {
			background: url('../img/register-modal-bg.jpg');
			background-size: cover;
			position: relative;
			.modal-net {
				background: url('../img/bg-net-tile.png');
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				background-position: center;
				z-index: 1;
				background-size: 50px;
			}

			.modal-body {
				z-index: 20;
			}
		}
	}
}


#welcome-mat {
	z-index: 10;
	padding: 10px;
	padding-top: 50px;
	overflow: hidden;
	min-height: 50vh;
	position: relative;
	@include flex();


	@media screen and (max-width: 768px) {
		&:before, &:after {
			display: none;
		}
	}


	#cover-video {
		position: absolute;;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background: #2c2c2c;
		transition: 1s opacity;
	}

	#cover-net {
		background: url('../img/bg-net-tile.png');
		background-size: 50px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		min-width: 100vw;
		min-height: 100%;
		z-index: -10;
	}

	#cover-overlay {
		background: #2c2c2c;
		opacity: 0.7;
		position: absolute;
		left: 0;
		top: 0;
		min-width: 100vw;
		min-height: 100%;
		z-index: -20;
	}

	#cover-particles {
		position: absolute;
		min-width: 100vw;
		min-height: 100%;
		z-index: -1;
		left: 0;
		top: 0;
		opacity: 0.7;
	}

	.floating-content {
		padding: 30px;
		align-self: center;
		margin: 0 auto;
		margin-top: 60px;
		z-index: 9;

		.logo-wrap {
			text-align: center;
			img {
				width: 40%;
			}
		}

		.content-wrap {
			color: white;
			text-align: center;
   			 margin: 0 auto;
			p {
				font-family: $sfont;
				font-size: 2em;
				text-transform: uppercase;
				margin-top: 30px;
			}


			.cta-wrap {	
				margin-top: 40px;
				position: relative;
				z-index: 4;

				.demo {
					position: relative;

					&:before {
						content: '';
						width: 50%;
						height: 2px;
						background: white;
						position: absolute; 
						top: 42%;
						z-index: -1;
						left: -70%;
					}

				}

				.pricing {
					position: relative;

					&:after {
						content: '';
						width: 50%;
						height: 2px;
						background: white;
						position: absolute; 
						top: 42%;
						z-index: -1;
						right: -70%;
					}
				}

				

				.btn.btn-hero {
					padding:15px;
					color: white;
					text-transform: uppercase;
					margin-bottom: 10px;
					margin-right: 10px;
					font-family: $pfont;
					font-weight: bold;
					letter-spacing: 1.3px;
					font-size: 0.8em;
					border-radius: 2px;
					@include transition(0.5s);
					border: 1px solid #fff;
					width: 120px;

					&:hover {
						background: #fff;
						width: 150px;
						color: #212121;
					}
				}
				

			}

			.coupon-holder {
				margin-top: 60px;
				margin-bottom:30px;
					.coupon {
						margin: 0px;
						padding: 13px;
						min-width: 130px;
						font-size: 1.3em;
						color: #fff;
						border: 2px solid #fff;
						border-style: dashed;
						border-radius: 2px;
						position: relative;
						font-family: $pfont;
						max-width: 80%;
						margin: 0 auto;

						&:before {
							content: 'COUPON';
							position: absolute;
							left: 0;
							right: 0;
							font-size: 13px;
							top: -25px;
							color: #fff;
							font-family: $pfont;
						}

						.tagline {
							position: absolute;
							left: 0;
							right: 0;
							font-size: 13px;
							bottom: -30px;
							text-transform: uppercase;
							font-family: $pfont;
							color: #fff;
						}
					}
				}

		}

	}

}

#perks {
	background: white;
	position: relative;
	z-index: 5;
	img {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 30%;
		z-index: -1;
		opacity: 0.3;
	}

	.perk {
		text-align: center;
		z-index: 2;
		position: relative;

		.icon {
			position: absolute;
			font-size: 8em;
			opacity: 0.2;
			color: #212121;
			z-index: -1;
			top: -5%;
			left: 5%;

			&.bolt-icon {
				left: 25%;
			}
		}

		.perk-value {
			font-family: $pfont;
			font-weight: bold;
			font-size: 3em;
			margin-bottom: 10px;
			color: $primary-color;
		}

		.perk-head {
			font-family: $sfont;
			letter-spacing: 1.3px;
			color: #212121;
			opacity: 0.7;
			text-transform: uppercase;
			font-size: 0.9em;
		}

	}

	.desc {
		margin-top: 100px;
		text-align: center;

		.head {
			color: #212121;
			font-family: $pfont;
			letter-spacing: 1.3px;
			text-transform: uppercase;
			margin-bottom: 20px;
			font-weight: bold;
		}

		.text {
			font-family: $sfont;
			opacity: 0.8;
			color: #212121;
			line-height: 23px;
		}

	}

}

#reviews {
	background: #2A2A2A;
	padding-bottom: 60px;
	text-align: center;
	color: white;
	position: relative;

	.review-col-left {
		border: 1px solid #414141;
		border-top: 0px;
		overflow: hidden;
		max-height: 270px;
	}

	.review-col-right {
		border: 1px solid #414141;
		border-right: 0px;
		border-top: 0px;
		overflow: hidden;
		max-height: 270px;
	}

	.reviews-container {
		padding: 20px;
		overflow: hidden;
		position: relative;
		padding-bottom: 100px;
		padding-top: 100px;

		.review-text {
			font-family: $pfont;
			font-size: 1.5em;
			letter-spacing: 1.3px;
			margin-bottom: 10px;
		}

		.stars {
			margin-top: 15px;
			i {
				margin-right: 10px;
				font-size: 1.5em;
				color: $primary-color;
			}
		}

	}

	img {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 175px;
	    margin: 0 auto;
	    background: #2A2A2A;
	    padding: 15px;
	}

	.text {
		margin-top: 100px;

		p {
			line-height: 17px;
			font-family: $pfont;
			letter-spacing: 1.3px;
		}

		.count {
			margin-bottom: 20px;
		}

		.confidence {
			opacity: 0.7;
		}

	}

}

#order-tutorial {
	background: url('../img/artwork3.jpg');
	background-size: cover;
	position: relative;
	z-index: 20;
	text-align: center;

	#tutorial-particles {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
	}

	.process-left {
		align-self: center;
	}

	.bg-overlay {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		z-index: -1;
		background: black;
		opacity: 0.6;
		top: 0;
		left: 0;
	}

	.process-title {
		font-family: $pfont;
		color: white;
		letter-spacing: 5px;
		margin-bottom: 30px;
	}

	.browser-mockup {
		width: 100%;
	}

	.video-wrap {
		position: relative;

		.video-holder {
		    position: absolute;
		    top: 12.5%;
		    left: 3.5%;
		    width: 92.9%;
		}

	}


	.vertical-process {
		padding-left: 20px;
		.step {
			width: 100%;
			text-align: left;
			padding-bottom: 20px;
			margin-bottom: 10px;
			position: relative;
			z-index: 10;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				width: 2px;
				height: 100%;
				background: $primary-color;
				top: 70px;
				left: 29px;
			}

			&:last-child {
				&:before {
					display: none;
				}

				margin-bottom: 0px;
				padding-bottom: 0px;
			}

			.icon {
				width: 60px;
				height: 60px;
				color: white;
				background: $primary-color;
				border-radius: 100%;
				font-size: 1.3em;
				display: inline-block;
				position: relative;
				vertical-align: top;

				i {
					vertical-align: middle;
					display: table-cell;
					margin: 0 auto;
					padding: 19px;
				}

			}

			.desc {
				color: white;
				display: inline-block;
				margin-left: 20px;
				vertical-align: middle;
				max-width: 80%;
				.head {
					font-family: $pfont;
					font-size: 1.1em;
					font-weight: bold;
					text-transform: uppercase;
				}

				.text {
					font-family: $sfont;
					letter-spacing: 1.2px;
					font-size: 0.9em;
				}

			}

		}

	}
}

#recent-games {
	background: white;

	.left-row {
		z-index: 10;
		position: relative;
		overflow: hidden;
	}

	.top-bottom-gradient {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		z-index: 3;
		top: 0;
		left: 0;
		background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 47%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 47%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 47%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 47%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	}

	.shout-content {
		padding: 30px;
		text-align: center;

		h1 {
			font-family: $pfont;
			color: $primary-color;
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 3em;
		}

		p {
			color: #212121;
			font-family: $sfont;
			font-size: 1em;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.7;
			line-height: 22px;
		}

	}

	.game-scroller {
		overflow: hidden;
		width: 100%;
		padding: 0px;
		position: relative;
		min-height: 500px;
		max-height: 500px;
		.games-holder {
			position: absolute;
			left: 0;
			width: 100%;
			&.top {
				top: 0px;	
			}

			&.bottom {
				bottom: 0px;
			}
		}
	}


	.left-scroller {
		padding-right: 0px;
		border-right: 2px solid $primary-color;
		border-right-style: dashed;

	}

	.right-scroller {
		padding-left: 0px;
		border-left: 2px solid $primary-color;
		border-left-style: dashed;
	}

	.game {
		margin: 0px;
		background: white;
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		img {
			width: 100%;
		}

		.status {
			font-family: $pfont;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 3px;
			color: $primary-color;

			&.win {
				color: $green;
			}

			&.loss {
				color: $red;
			}

		}

		.date {
			margin-bottom: 0px;
			color: #212121;
			font-size: 0.8em;
			font-family: $sfont;
		}

		.score {
			margin-bottom: 0px;
			font-family: $pfont;
			color: #212121;
			font-size: 1em;
			font-weight: bold;
		}

	}

}

#features {

	position: relative;
	z-index: 10;
	min-height: 90vh;
	background: white;

	#features-particles {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0.5;
	}

	.features-container {
		min-height: 90vh;
		position: relative;
		overflow: hidden;



	}

	.feature {
		min-height: 90vh;
		min-width: 100%;
		position: relative;
		background: #fff;
		z-index: 10;

		.feature-bg {
			position: absolute;
			top: 0;
			width: 125%;
			left: 0;
			z-index: -1;
		}

	}

	.features-pagination {
		text-align: center;
		position: absolute;
		bottom: 10%;
		z-index: 30;
	}

	.swiper-pagination-bullet-active {
		background: $primary-color;
	}

	.swiper-pagination-bullet {
		width: 13px;
		height: 13px;
	}

	.content-row {
		min-height: 70vh;
	}


}

#booster-live {
	text-align: center;

	

		h1 {
			color: $primary-color;
			font-family: $pfont;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tagline {
			font-family: $pfont;
			color: #212121;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.8;
			letter-spacing: 1px;
			line-height: 22px;
		}

	.screen-overlap {
		img {
			width: 100%;
		}
		position: relative;

		.video-wrap {
		    position: absolute;
		    top: 8%;
		    left: 12.5%;
		    width: 75%;

			video {
				width: 100%;
			}
		}

	}

}

#live-chat {

	.content-info {
		h1 {
			color: $primary-color;
			font-family: $pfont;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tagline {
			font-family: $pfont;
			color: #212121;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.8;
			letter-spacing: 1px;
			line-height: 22px;
		}
	}


	.responsive-ipad {
		width: 100%;
	}

	.screen-overlap {
		width: 60%;
		margin: 0 auto;
		position: relative;
		z-index: 10;

		&:before {
			content: '';
		    background: url(../img/home/tracer.webp);
		    background-position: bottom;
		    background-repeat: no-repeat;
		    background-size: 100%;
		    width: 200px;
		    height: 100%;
		    transform: scaleX(-1);
		    left: -130px;
		    bottom: 0;
		    z-index: 20;
		    position: absolute;
		}

	}

	.chat-wrap {
	    position: absolute;
        top: 9%;
	    left: 7%;
	    width: 86%;
	    max-height: 82%;
	    overflow-y: auto;

	   

		.chat-inside {
			background: white;
			padding: 10px;

			.message {
				margin-bottom: 8px;
				margin-right: auto;

				.name {
					font-family: $pfont;
					font-size: 0.8em;
					color: #212121;
					margin-bottom: 2px;
					font-weight: bold;
				}

				.msg-box {
					background: #e4e4e4;
					color: #212121;
					font-family: $pfont;
					font-size: 0.8em;
					padding: 7px;
					max-width: 80%;
					margin-bottom: 0px;
				}

				&.inverse {
					margin-left: auto;
					margin-right: 0;
					text-align: right;
					.msg-box {
						background: $primary-color;
						color: white;
						margin-left: auto;
						text-align: left;
					}
				}

			}

		}

	}

}

#pick-stuff {

	position: relative;
	z-index: 10;

	.pick-champs-bg {
		width: 200%;
		position: absolute;
		left: -100%;
		top: 15%;
		opacity: 0.2;
		z-index: -1;
		background: url('../img/champs-horizontal.jpg');
		background-size: 70%;
		background-repeat-y: no-repeat;
		height: 62%;
		align-self: center;
		@include prefix(animation, champsScroll 40s linear infinite, webkit moz o ms);
	
		@media screen and (max-width: 1500px) {
			top: 10%;
			height: 72%;
		}

	}

	@-webkit-keyframes champsScroll {
		0% {
			left: -100%;
		}
		50% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}

	.side-gradient {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 15%;
			height: 62%;
			width: 100%;
			align-self: center;
			background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 36%, rgba(246,246,246,0) 70%, rgba(246,246,246,0.03) 71%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(36%, rgba(246,246,246,0)), color-stop(70%, rgba(246,246,246,0)), color-stop(71%, rgba(246,246,246,0.03)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 36%, rgba(246,246,246,0) 70%, rgba(246,246,246,0.03) 71%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 36%, rgba(246,246,246,0) 70%, rgba(246,246,246,0.03) 71%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 36%, rgba(246,246,246,0) 70%, rgba(246,246,246,0.03) 71%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 36%, rgba(246,246,246,0) 70%, rgba(246,246,246,0.03) 71%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	
			@media screen and (max-width: 1500px) {
				top: 10%;
				height: 72%;
			}
	}


		margin: 0 auto;
		text-align: center;
		h1 {
			color: $primary-color;
			font-family: $pfont;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tagline {
			font-family: $pfont;
			color: #212121;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.8;
			letter-spacing: 1px;
			line-height: 22px;
		}

}

#security {
	.content-info {
		margin: 0 auto;
		z-index: 10;
		text-align: center;
		h1 {
			color: $primary-color;
			font-family: $pfont;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tagline {
			font-family: $pfont;
			color: #212121;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.8;
			letter-spacing: 1px;
			line-height: 22px;
		}
	}

	


}

#track-order {
	text-align: center;
	position: relative;
	.content-info {
		margin: 0 auto;
		z-index: 10;
		text-align: center;
		h1 {
			color: $primary-color;
			font-family: $pfont;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.tagline {
			font-family: $pfont;
			color: #212121;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.3px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.desc {
			font-family: $pfont;
			opacity: 0.8;
			letter-spacing: 1px;
			line-height: 22px;
		}
	}

	

}

.track-order-wrap {
		margin-top: 60px;
		text-align: center;

		.step {

			.step-tier {
				position: relative;
				img {
				    padding: 10px;
				    border: 5px solid #e4e4e4;
				    border-radius: 100%;
				    width: 100px;
				    position: relative;
				}

			}

			.tier-info {
				font-family: $sfont;
				color: #212121;
				opacity: 0.8;
				font-size: 0.8em;
			}

			.tier-slug {
				margin-top: 20px;
				margin-bottom: 0px;
				font-family: $pfont;
				letter-spacing: 1.3px;
				text-transform: uppercase;
				font-size: 0.8em;
			}

			&.done {
				.step-tier {

					&:after {
			            content: '';
					    position: absolute;
					    top: 53px;
					    right: -32%;
					    width: 66%;
					    background: #3598D9;
					    height: 5px;
					}

					img {
						border-color: $primary-color;
					}
				}
			}

			&.active {

				.step-tier {
					img {
						border-color: $primary-color;
						width: 120px;
					}
				}

				.tier-slug {
					font-weight: bold;
				}
			}

			&.pending {
				.step-tier {
					&:before {
			            content: '';
					    position: absolute;
					    top: 53px;
					    left: -32%;
					    width: 66%;
					    background: #e4e4e4;
					    height: 5px;
					}
				}	
			}

		}

	}

	#perks {
		img {
			width: 140%;
			opacity: 1;
		}

		.section-head {
			color: $primary-color;
			font-family: $montserrat;
			margin-top: 0px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		.section-tag {
			color: $primary-color;
			font-family: $pfont;
			margin-bottom: 25px;
		}

		.desc {
			margin-top: 18px;
			font-family: $pfont;
			color: #212121;
			text-align: left;
		}

		.feature-list {
			list-style: none;
			margin: 0px;
			padding: 0px;

			li {
				color: $primary-color;
				font-family: $pfont;
				font-size: 1.3em;
				margin-bottom: 13px;
				font-weight: bold;
				i {
					margin-right: 13px;
				}

			}

		}

}

#order-tutorial {
	background: #f5f5f5;

	.process-title {
		color: $primary-color;
		font-size: 2em;
		font-weight: bold;
		font-family: $montserrat;
		margin-bottom: 30px;
		letter-spacing: 1px;
	}

	.step {
		.head {
			color: $primary-color;
		}
		.text {
			color: #212121;
		}
	}

}

#features {
	#demo {
		background: none;
	}
}

.password-img {
	    position: absolute;
    left: -500px;
    top: -300px;
    width: 1200px;

}

#reviews {
	padding-bottom: 0px;

	img {
		background: transparent;
		padding-top: 60px;
	}

	.review-col-left {
		max-height: 300px;
		border-color: #e4e4e4;
	}
	.review-col-right {
		max-height: 300px;
		border-color: #e4e4e4;
	}

	.reviews-container {
		padding-top: 20px;
	}

	img {
		position: relative;
		top: 0;
		margin-bottom: 4px;
	}

	.text {
		margin-top: 10px;
	}

	border-color: #e4e4e4;

	background: #f5f5f5;
	color: #212121;

}

#welcome-mat {
	background: url('../img/home/hero.png');
	background-size: cover;
	min-height: 100vh;
}

#faq-home {
	background: $primary-color;
	overflow: hidden;
	position: relative;
	z-index: 3;
	overflow: hidden;

	h1 {
		font-family: $montserrat;
		color: white;
		font-weight: bold;
		font-size: 1.8em;
	}

	p {
		color: white;
		font-family: $pfont;
		margin-bottom: 30px;
	}

	.btn-inverse {
		background: transparent;
		color: white;
		border: 2px solid white;
		padding: 15px 12px 15px 12px;
		text-transform: uppercase;
		font-family: $pfont;
		font-size: 0.9em;
		letter-spacing: 1.2px;
		font-weight: bold;
		border-radius: 2px;
		@include transition(0.5s);

		&:hover {
			background: white;
			color: $primary-color;
		}
	}

	.faq-img {
	    position: absolute;
	    top: -40px;
	    width: 70%;
	    left: -100px;
	}

}

#faq-particles {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.footer-home {
	background: #212121 !important;
	
	.logo-strip {
		p {
			color: white !important;
		}
	}

	.footer-links {
		li {
			a {
				color: white !important;
			}
		}
	}

	.desc {
		color: white !important;
	}

	.copyright-strip p {
		color: white !important;
	}

}

#features {
	.feature-bg {
		display: none;
	}
}

#reviews {
	.reviews-text {
		padding-top: 40px;
		p {
			color: #212121;
			font-family: $montserrat;
			margin-bottom: 18px;
		}

		.btn.btn-primary {
			background: #fff;
			border: none;
			outline: none;
			color: #212121;
			letter-spacing: 1.4px;
			text-transform: uppercase;
			padding: 16px 20px 16px 20px;
			font-size: 0.9em;
			margin-bottom: 40px;
			font-weight: bold;
			font-family: $pfont;
		}

	}
}

#pick-stuff {
	position: relative;
}

.pick-stuff-img {
    position: absolute;
    width: 120%;
    top: -100px;
    left: -30%;

    @media screen and (max-width: 520px) {
    	display: none;
    }
}