// navbar.scss



#primary-nav {


	@include transition(0.5s);
	top: 0px;
	background: transparent;
	border: 0px;
	z-index: 30;

	.navbar-toggler {
		border-color: #fff;
		border-radius: 0px;

		span {
			color: white;
			padding: 8px;
		}

	}

	&.scrolled {
		top: 0px;
		background: rgba(0,0,0,0.6);

		.navbar-brand {
			img {
				width: 35px;
			}
			font-size: 1.5em;
			@include transition(0.5s);
		}

	}



	.navbar-brand {
		img {
			width: 50px;
			margin-right: 10px;
			@include transition(0.3s);
		}

		
		color: white;
		font-size: 2em;
		font-family: $pfont;
		font-weight: bold;
		letter-spacing: 1.3px;
	}

	.nav-item {



		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}

		.nav-link {

			outline: none;

			&:after {
				@include transition(0.5s);
				position: absolute;
				content: '';
				bottom: 0px;
				left: 0;
				outline: none;
				right: 0;
				width: 0%;
				margin: 0 auto;
				height: 2px;
				background: $secondary-color;
			
				i {
					font-size: 0.6em;
				}

			}

			&:hover {
				&:after {
					width: 70%;
				}
			}

			color: white;
			padding: 5px;
			font-size: 0.8em;
			position: relative;
			font-family: 'Josefin Sans', sans-serif;
		}

		&.active {

			.nav-link {
				&:after {
					width: 80%;
				}
			}

		}

		.ctaBtn {
			&:after {
				background: $primary-color;
			}
		}

	}

	#boosterAppBtn {
		@include transition(0.5s);
		@include prefix(animation, pulse 3s linear infinite, webkit moz o ms);
	}

	@-webkit-keyframes pulse {
		0% {
			text-shadow: none;
		}
		50% {
			text-shadow: 0px 0px 20px #71BFFF, 0px 0px 20px #71BFFF;
		}
		100% {
			text-shadow: none;
		}
	}

	.nav-scroll {
		opacity: 0;
		.nav-link {
			font-size: 0px;
		}


		@include transition(0.5s);

		&.scrolled {
			opacity: 1;
			.nav-link {
				font-size: 0.8em;
			}
		}

	}

	.dropdown-menu {
		padding: 0px;
		margin: 0px;
		margin-top: 14px;
		border-radius: 0px;
		border: 0px;

		.dropdown-item {
			font-family: 'Josefin Sans', sans-serif;
			padding: 15px;
			background: rgba(0,0,0,0.8);
			color: #fff;

			&:focus {
				opacity: 0.8;
			}



		}	

	}

}

.modal-open {
	padding-right: 0px !important;
}

#loginModal, #registerModal {
	
	.modal-dialog {
		margin-top: 10%;

		.modal-content {
			border-radius: 0px;
			border: 0px;
			text-align: center;
			position: relative;

			.modal-color-overlay {
				position: absolute;
				background: #185B75;
				opacity: 0.6;
				min-width: 100%;
				min-height: 100%;
			}

			.modal-body {
				border-radius: 0px;
				border: 0px;
				padding: 40px;

				h1 {
					font-family: 'Josefin Sans', sans-serif;
					color: white;
					font-size: 2.3em;
					text-transform: uppercase;
					margin-bottom: 30px;
				}

				.alert.alert-error {
					background: rgba(218,76,76,0.4);
					color: white;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 0.9em;
					border-radius: 0px;
				}

				.alert.alert-success {
					background: rgba(164,209,79,0.4);
					color: white;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 0.9em;
					border: 0px;
					border-radius: 0px;
				}

				.input-group {
					margin-bottom: 25px;
					.input-group-addon {
						background: rgba(0,0,0,0.4);
						color: white;
						padding: 20px;
						border: 0px;
						border-right: 0px;
						border-radius: 0px;
					}

					.form-control {
						padding: 20px;
						color: white;
						border: 0px;
						border-left: 0px;
						box-shadow: none;
						font-family: 'Josefin Sans', sans-serif;
						border-radius: 0px;
						background: rgba(0,0,0,0.4);
						outline: none;

						&:focus {
							box-shadow: none;
							border: 0px;
						}


					}

				}

				.btn.btn-form {
					background: white;
					border-radius: 3px;
					min-width: 40%;
					color: #2c2c2c;
					text-transform: uppercase;
					padding: 15px;
					display: block;
					margin: 0 auto;
					margin-bottom :30px;
					cursor: pointer;
					@include transition(0.5s);

					&:hover {
						min-width: 60%;
					}
				}

				a {
					display: block;
					color: white;
					font-family: 'Quicksand', sans-serif;
					margin-bottom: 15px;
					font-size: 0.8em;
					outline: none;
					border: 0px;

					&:focus {
						outline: none;
					}
				}

			}

		}

	}

}

#loginModal {
	
	.modal-dialog {
		.modal-content {
			background: url('../img/login-modal-bg.jpg');
			background-size: cover;
			position: relative;

			.modal-net {
				background: url('../img/bg-net-tile.png');
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				z-index: 1;
				background-size: 50px;
			}

			.modal-body {
				z-index: 20;
			}

		}
	}

}

#registerModal {
	.modal-dialog {
		margin-top: 1%;
		min-width: 50%;
		.modal-content {
			background: url('../img/register-modal-bg.jpg');
			background-size: cover;
			position: relative;
			.modal-net {
				background: url('../img/bg-net-tile.png');
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				background-position: center;
				z-index: 1;
				background-size: 50px;
			}

			.modal-body {
				z-index: 20;
			}
		}
	}
}