#pricing {
	background: url('../img/pricing/bg1.jpg');
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 0px;
	position: relative;
	min-height: 200px;

	
	.text-mate {
		color: #212121;
		margin-top: 30px;
		letter-spacing: 1.3px;
		b {
			color: $primary-color;


			&.strike {
				text-decoration: line-through;
				margin-right: 10px;
				opacity: 0.7;
				font-size: 0.9em;
				margin-left: 10px;
			}
		}
	}

	.slider-bottom-ruler {
		margin-top: 15px;
		@include flex();
		justify-content: space-between;
		.number {
			font-size: 0.6em;
			opacity: 0.5;
		}

		@media screen and (max-width: 540px) {
			display: none;
		}

	}

	.btn.btn-purchase {
		padding: 20px;
		color: white;
		background: $primary-color;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		font-size: 0.9em;
	}

	.pricingSlider {
		margin-top: 40px;

		

	}

	.main-row {
		margin-top: 30px;
		font-family: $pfont;

		.nav.nav-pills {
			.nav-item {
				.nav-link {
					background: transparent;
					border-radius: 3px;
					font-family: $pfont;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 1.25px;
					font-size: 0.9em;
					padding: 20px;

					&.active {
						background: $primary-color;
					}

				}
			}
		}

		.tab-content {
			padding: 20px;
			padding-top: 40px;
		}

		.faq-ques {
			.faq-block {
				margin-bottom: 20px;

				.question {
					color: $primary-color;
					font-weight: bold;
					font-size: 1.1em;
					margin-bottom: 5px;
				}

				.answer {
					line-height: 23px;
					font-size: 0.9em;
					letter-spacing: 1.1px;
				}

			}
		}

		.text-row {
			position: relative;
			padding: 20px;
			z-index: 2;
			border-radius: 4px;
			margin-right: 20px;
			margin-left: 0px;
			
			.white-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: white;
				opacity: 0.3;
				top: 0;
				left: 0;
			}

			.btn-group {
				margin-top: 40px;
				@include flex();

				.btn {
					font-weight: bold;
					flex-grow: 1;
					background: white;
					color: $primary-color;
					padding: 12px 20px 12px 20px;
					font-family: $pfont;
					letter-spacing: 1.2px;
					margin-right: 10px;
					opacity: 0.7;
					border: 1px solid #e4e4e4;
					@include transition(0.5s);

					&:hover {
						opacity: 1;
					}

					i {
						margin-right: 10px;
						vertical-align: center;
					}

					&:last-child {
						margin-right: 0px;
					}

					.question {
						float: right;
						margin: 0px;
					}

					&.active {
						opacity: 1;
						background: $primary-color;
						color: white;
					}

				}

			}

		}

		.text-block {
			.text {
				font-size: 0.85em;
				font-weight: bold;
				color: #212121;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}

			.inside-text {
				height: 64px;
				width: 132px;
				text-align: center;
				padding: 10px;
				font-family: $pfont;
				font-size: 2em;
				border: none;
				border-radius: 3px;
				border: 2px solid #f4f4f4;
				border-bottom: 2px solid #e4e4e4;
				box-shadow: none !important;

				&:focus {
					border-color: rgba(0,0,0,0.5);
				}
			}

			.text-group {
				button, input {
					display: inline-block;
					vertical-align: middle;
				}

				.btn {
					border-radius: 3px;
					padding: 20px;
					font-size: 1.1em;
					color: white;
					cursor: pointer;
				}

				.btn-left {
					background: $red;
				}

				.btn-right {
					background: $green;
				}

			}

		}

	}



	.promo-row {
		padding-top: 40px;
		border-top: 1px solid #e4e4e4;
		margin-top: 40px;
		@include flex();
		justify-content: space-between;

		.promo-enter {
			width: 400px;

			img {
				margin-right: 15px;
			}

			input {
				height: 30px;
				width: 140px;
				vertical-align: middle;
			}

			.btn {
				font-size: 0.7em;
				text-transform: uppercase;
				padding: 8px;
				letter-spacing: 0.8px;
				width: auto;
				font-weight: bold;
				border-radius: 0px;
				background: $primary-color;
				cursor: pointer;
				border: none;
			}

			@include flex();

		}

		.head {
			font-size: 0.7em;
			margin-bottom: 4px;
			color: #212121;
			font-weight: bold;
			text-transform: uppercase;
			opacity: 0.4;
			padding: 0px;
			text-align: left;
			padding-left: 15px;
			padding-right: 15px;
			i {
				margin-left: 15px;
				cursor: pointer;
			}
		}

		img, form {
			display: inline-block;
		}

	}

	.inside-text.select {
		font-size: 1em !important;
		box-shadow: none !important;
		border-color: #e4e4e4 !important;

		option {
			padding: 20px;
			text-align: center;
			background: white;

			&:hover {
				background: #e4e4e4;
			}

		}

	}


}

.main-content-panel {
	background: transparent;
	border-radius: 2px;
	padding: 40px;
	border: none;
	position: relative;
	min-height: 100px;

	
	.head {	
		font-family: $pfont;
		color: $primary-color;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		
	}

	.tagline {
		text-align: center;
		font-size: 0.9em;
		letter-spacing: 1.1px;
		font-family: $pfont;
		padding-bottom: 50px;
		border-bottom: 1px solid #f7f7f7;
		img {
			width: 28px;
			margin-right: 10px;
		}
		i {
			margin-right: 10px;
			margin-left: 10px;
		}
	}

}

#reviews.pricing-reviews {
	background: white;
	color: #212121 !important;


		.review-col-left, .review-col-right {
			border-color: #e4e4e4;
		}

		img {
			background: white;
		}

}

#howandwhy {

	.big-block {
		background: #f7f7f7;

		&:nth-last-child(odd) {
			background: white;
			letter-spacing: 1.4px;
		}

		.head {
			color: $primary-color;
			font-weight: bold;
			font-size: 1.7em;
		}

		.desc {
			line-height: 25px;
			letter-spacing: 1.2px;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		.footer-bottom-img {
			margin: 0 auto;
			width: 350px;
			opacity: 0.7;
			display: block;
		}

		&:last-child {
			padding-bottom: 0px;
		}

	}

}

.slider-horizontal {
	width: 100%;

	&.slider {
		width: 100% !important;
	}

	&.slider.slider-disabled .slider-handle {
		background: $primary-color;
	}

	.slider-track {
		background: #e4e4e4;
		border-radius: 3px;
		box-shadow: none;
		border: none;
	}

	.slider-selection {
		background: $primary-color;
		box-shadow: none;
		border: none;
		border-radius: 3px;
	}

	.slider-handle {
		background: white;
		border: 2px solid $primary-color;
		box-shadow: none;
	}

	.tooltip.top {
		opacity: 1 !important;
		.tooltip-inner {
			background: $primary-color;
			color: white;
			font-family: $pfont;
		}
	}

}