// reviews.scss

#reviews-hero {

	background: url('../img/reviews-bg.jpg');
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 60px;
	text-align: center;
	z-index: 10;
	position: relative;
	overflow: hidden;
	#reviews-particles {	
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
		top: 0;
		left: 0;
	}

	h1 {
		color: white;
		font-family: $pfont;
		font-size: 3em;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: $primary-color;
		}

	}

	.tagline {
		font-family: $pfont;
		color: white;
		font-size: 2em;
		font-style: italic;
		font-weight: 100;
	}

	.text {
		font-family: $pfont;
		color: white;
		font-size: 1.2em;
		font-weight: 200;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.btn.btn-reviews {
		opacity: 0.6;
		@include transition(0.4s);
		padding: 15px;
		color: white;
		background: rgba(0,0,0,0.3);
		border: 1px solid $primary-color;
		border-radius: 2px;
		min-width: 230px;
		font-family: $pfont;
		&:hover {
			opacity: 1;
		}
	}

}

#reviews-main {
	background: white;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;

	.stars {
		margin-top: 30px;
		margin-bottom: 20px;

		i {
			margin-right: 6px;
			font-size: 2em;
			color: $primary-color;
			&:last-child {
				margin-right: 0px;
			}
		}

	}

	.reviews-container {
		margin-top: 50px;
		max-height: 600px;
		overflow-y: auto;

		.review {
			padding: 20px;
			border-bottom: 1px solid #e4e4e4;

			.intro-strip {
				font-family: $pfont;
				text-align: left;
				color: #212121;
				.name {
					margin-right: 20px;
					font-size: 1.1em;
					opacity: 0.9;
					font-weight: bold;
				}
				.stars {
					i {
						font-size: 1.1em;
					}
				}
			}

			.review-text {
				font-family: $pfont;
				text-align: left;
				margin-top: 20px;
				color: #212121;
				opacity: 0.8;
			}

			.date {
				text-align: right;
				font-family: $pfont;
				font-size: 0.9em;
				opacity: 0.6;
			}

		}

	}

	.btn.btn-reviews {
		background: #e4e4e4;
		border-radius: 3px;
		display: block;
		font-weight: bold;
		width: 200px;
		color: #212121;
		font-family: $pfont;
		text-transform: uppercase;
		margin: 0 auto;
		padding: 12px;
		padding-top: 15px;
		letter-spacing: 3px;
		padding-bottom: 15px;
		@include transition(1s);
		margin-top: 40px;
		opacity: 1;
		&:hover {
			opacity: 0.7;
		}
	}

}