[class*='col-lg-'], [class*='col-md-'] {
  padding: 0px; }

@media screen and (max-width: 1500px) {
  .admin-content {
    padding-right: 0px;
    width: 80%; }

  .table-counter {
    max-width: 100%; } }
@media screen and (max-width: 1024px) {
  #pricing .container {
    width: 100%;
    margin: 0px; }
  #pricing .main-row .text-block .inside-text {
    width: 100px; }

  .intro-admin.big-screen {
    display: none; }
  .intro-admin.small-screen {
    display: block; }

  .admin-sidebar {
    width: 100px; }
    .admin-sidebar .nav.nav-tabs li a span {
      display: none; }
    .admin-sidebar .nav.nav-tabs li a i {
      font-size: 2em; }

  .admin-table .tier-icon {
    width: 50px; }

  .admin-content {
    margin: 0px;
    margin-left: 100px;
    width: 100%;
    padding-right: 0px; }

  #welcome-mat .floating-content .content-wrap {
    max-width: 9999%; }

  #features .feature .feature-bg {
    width: 230%; }

  .track-order-wrap .step.done .step-tier:after {
    right: -29%;
    width: 61%; }
  .track-order-wrap .step.pending .step-tier:before {
    left: -29% !important;
    width: 61% !important; } }
@media screen and (max-width: 768px) {
  .responsive-table {
    max-width: 100%;
    overflow-x: auto; }

  #reviews.pricing-reviews img {
    top: 200px;
    width: 200px; }

  .admin-sidebar {
    position: fixed;
    left: -200px; }
    .admin-sidebar.expanded {
      left: 0; }

  .admin-content {
    width: 100%;
    margin-left: 0px; }
    .admin-content .full-width-tabs li a {
      font-size: 0.8em;
      padding: 15px; }

  #adminSidebarToggle {
    display: inline-block; }

  .track-order-wrap .step.done .step-tier:after {
    right: -20%;
    width: 47%; }
  .track-order-wrap .step.pending .step-tier:before {
    left: -20% !important;
    width: 47% !important; }

  #demo-hero .order-loading .loader-text {
    max-width: 70%; }
  #demo-hero .block {
    text-align: center !important; }
  #demo-hero .order-loading {
    padding-top: 0px;
    padding-left: 30px; }
  #demo-hero .order-stat-btns {
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 30px; }

  #perks .perk .icon {
    opacity: 0.1; }

  #live-chat .screen-overlap {
    width: 40%; }

  #primary-nav .navbar-nav {
    width: 100%; }
  #primary-nav .nav-item {
    margin-right: 0px; }
    #primary-nav .nav-item .nav-link {
      padding: 20px;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      font-size: 1.3em; }
  #primary-nav .nav-scroll {
    display: none; }
    #primary-nav .nav-scroll .nav-link {
      font-size: 1.3em; }
  #primary-nav.scrolled .nav-item .nav-link {
    background: transparent; }
  #primary-nav.scrolled .nav-scroll {
    display: inline-block; }
    #primary-nav.scrolled .nav-scroll .nav-link {
      font-size: 1.3em; } }
@media screen and (max-width: 520px) {
  .display-block-xs {
    display: block; } }

@media screen and (max-width: 520px) {
  #pricing .container {
    padding: 0px; }
  #pricing .main-content-panel {
    padding: 5px; }
  #pricing .nav {
    display: block; }
  #pricing .text-block {
    margin-top: 20px; }
  #pricing .main-row .text-row .btn-group {
    display: block; }
    #pricing .main-row .text-row .btn-group a {
      margin-top: 15px; }
  #pricing .promo-row {
    display: block; }
  #pricing .promo-enter {
    margin-bottom: 30px; }

  #reviews.pricing-reviews img {
    display: none; }

  .admin-content {
    padding: 0px; }
    .admin-content .full-width-tabs {
      display: block;
      border-bottom: 1px solid #e4e4e4; }
    .admin-content .responsive-mate {
      min-width: 20px; }

  .track-order-wrap .step.done .step-tier:after {
    display: none; }
  .track-order-wrap .step.pending .step-tier:before {
    display: none; }

  .responsive-table .responsive-mate thead {
    display: none; }
  .responsive-table .responsive-mate tr {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100vw;
    border-bottom: 1px solid #e4e4e4; }
  .responsive-table .responsive-mate td {
    border-bottom: 1px solid #f4f4f4; }

  #pricing-page .main-content .nav.nav-tabs {
    display: block !important; }
  #pricing-page .main-content .tab-content .order-img {
    display: none; }
  #pricing-page .main-content .tab-content .order-info .btn.btn-order {
    display: block; }
  #pricing-page .main-content .tab-content .order-info img {
    display: block;
    width: 200px;
    margin-top: 15px; }
  #pricing-page .main-content .tab-content .head {
    margin-top: 20px; }
  #pricing-page .promo-code-wrap .form-control {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px; }
  #pricing-page .promo-code-wrap .btn.btn-promo {
    width: 100%;
    margin: 0px; }

  .content-info h1 {
    font-size: 2em !important; }

  #track-order .track-order-wrap {
    margin-top: 30px; }
    #track-order .track-order-wrap .step .step-tier {
      display: inline-block;
      margin-right: 10px; }
      #track-order .track-order-wrap .step .step-tier img {
        width: 70px; }
    #track-order .track-order-wrap .step .tier-slug {
      display: inline-block;
      vertical-align: middle; }
    #track-order .track-order-wrap .step .tier-info {
      display: none; }
    #track-order .track-order-wrap .step.active .step-tier img {
      width: 80px; }

  #welcome-mat #cover-particles canvas {
    width: 100vw;
    min-height: 100vh !important; }

  #perks .perk {
    margin-bottom: 50px; }

  .content-info {
    max-width: 9999% !important; }

  #pick-stuff .side-gradient {
    z-index: -1; }

  #live-chat .screen-overlap {
    width: 50%; }
    #live-chat .screen-overlap:before {
      display: none; }
  #live-chat .content-info {
    margin-top: 20px;
    text-align: center;
    padding: 8px; }

  #track-order .step-tier:before, #track-order .step-tier:after {
    display: none; }
  #track-order .step {
    margin-bottom: 20px; }

  #features {
    min-height: 0px; }
    #features .content-row {
      min-height: 0px; }
    #features .features-container {
      min-height: 0px; }
    #features .feature {
      min-height: 0px; }
      #features .feature .feature-bg {
        width: 600%;
        opacity: 0.4; }
    #features .features-pagination {
      bottom: 4%; }

  #welcome-mat .floating-content {
    padding: 0px; }
    #welcome-mat .floating-content .content-wrap .cta-wrap .btn.btn-custom.btn-transparent {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      background: rgba(51, 76, 99, 0.4); }

  #reviews img {
    width: 100%; }

  #order-tutorial .vertical-process {
    margin-top: 30px; }
    #order-tutorial .vertical-process .step .desc {
      max-width: 70%; }

  #primary-nav {
    top: 0px; }
    #primary-nav .container {
      width: 100%; }
    #primary-nav .nav-item .nav-link, #primary-nav .nav-scroll .nav-link {
      font-size: 1em; }
    #primary-nav .navbar-toggler span {
      padding: 4px; }
    #primary-nav.scrolled .nav-scroll .nav-link {
      font-size: 1em; } }

/*# sourceMappingURL=responsive.css.map */
