// _mixins.scss

@mixin fontface($fontname, $fonturl) {
	font-family: $fontname;
	src: url($fonturl);
}

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}

	#{$property}: $value;

}

@mixin transition($time) {

	@include prefix(transition, $time ease, webkit ms moz o)

}

@mixin flex() {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;	/* OLD - Firefox 19- */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;	/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin primarygradient() {
	background: $primary-color;
	/* background: rgba(255,47,99,1);
background: -moz-linear-gradient(top, rgba(255,47,99,1) 0%, rgba(255,91,62,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,47,99,1)), color-stop(100%, rgba(255,91,62,1)));
background: -webkit-linear-gradient(top, rgba(255,47,99,1) 0%, rgba(255,91,62,1) 100%);
background: -o-linear-gradient(top, rgba(255,47,99,1) 0%, rgba(255,91,62,1) 100%);
background: -ms-linear-gradient(top, rgba(255,47,99,1) 0%, rgba(255,91,62,1) 100%);
background: linear-gradient(to bottom, rgba(255,47,99,1) 0%, rgba(255,91,62,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2f63', endColorstr='#ff5b3e', GradientType=0 ); */
}

@mixin primarytextgradient() {
	@include primarygradient();
	@include prefix(background-clip, text, webkit moz o ms);
	@include prefix(text-fill-color, transparent, webkit moz o ms);
}