// variables.scss

$primary-color: #3598D9;
$secondary-color: #E1E1E1;
$red: #D05656;
$green: #96C746;
$primary-black: #2c2c2c;

$primary-top-color: $primary-color;

$pfont: 'Josefin Sans', sans-serif;
$sfont: 'Quicksand', sans-serif;
$montserrat: 'Montserrat', sans-serif;


