// responsive.scss

@import "_variables";
@import "_mixins";

[class*='col-lg-'], [class*='col-md-'] {
	padding: 0px;
}

@media screen and (max-width: 1500px) {
	.admin-content {
		padding-right: 0px;
		width: 80%;
	}

	.table-counter {
		max-width: 100%;
	}
}

@media screen and (max-width: 1024px) {

	#pricing {
		.container {
			width: 100%;
			margin: 0px;
		}

		.main-row {
			.text-block {
				.inside-text {
					width: 100px;
				}
			}
		}

	}

	.intro-admin {
		&.big-screen {
			display: none;
		}

		&.small-screen {
			display: block;
		}
	}

	.admin-sidebar {
		width: 100px;

		.nav.nav-tabs {
			li {
				a {
					span {
						display: none;
					}
					i {
						font-size: 2em;
					}
				}
			}
		}

	}

	.admin-table {
		.tier-icon {
			width: 50px;
		}
	}

	.admin-content {
        margin: 0px;
	    margin-left: 100px;
	    width: 100%;
	    padding-right: 0px;
	}

	#welcome-mat {
		.floating-content {
			.content-wrap {
				max-width: 9999%;
			}
		}
	}

	#features .feature .feature-bg {
		width: 230%;
	}

	.track-order-wrap {
		.step.done {
			.step-tier:after {
			    right: -29%;
    			width: 61%;
			}
		}

		.step.pending {
			.step-tier:before {
				left: -29% !important;
    			width: 61% !important;
			}
		}
	}

}

@media screen and (max-width: 768px) {


	.responsive-table {
		max-width: 100%;
		overflow-x: auto;
	}

	#pricing {
		.main-row {
			.text-block {
				.inside-text {
					
				}
			}
		}
	}

	#reviews.pricing-reviews {
		img {
			top: 200px;
			width: 200px;
		}
	}

	.admin-sidebar {
		position: fixed;
		left: -200px;

		&.expanded {
			left: 0;
		}

	}

	.admin-content {
		width: 100%;
		margin-left: 0px;

		.full-width-tabs {
			li {
				a {
					font-size: 0.8em;
					padding: 15px;
				}
			}
		}

	}

	#adminSidebarToggle {
		display: inline-block;
	}

	.track-order-wrap {
		.step.done {
			.step-tier:after {
			    right: -20%;
    			width: 47%;
			}
		}

		.step.pending {
			.step-tier:before {
				left: -20% !important;
    			width: 47% !important;
			}
		}
	}

	#demo-hero {

		.order-loading {
			.loader-text {
				max-width: 70%;
			}
		}

		.block {
			text-align: center !important;
		}

		.order-loading {
			padding-top: 0px;
			padding-left: 30px;
		}

		.order-stat-btns {
			padding-top: 0px;
			margin-bottom: 20px;
			text-align: left;
			padding-left: 30px;
		}
	}

	#perks .perk .icon {
		opacity: 0.1;
	}

	#live-chat {
		.screen-overlap {
			width: 40%;
		}
	}

	#primary-nav {

		.navbar-nav {
			width: 100%;
		}

		.nav-item {
			margin-right: 0px;
			.nav-link {
				padding: 20px;
				text-align: center;
				background: rgba(0, 0, 0, 0.6);
				font-size: 1.3em;
			}
		}

		.nav-scroll {
			display: none;

			.nav-link {
				font-size: 1.3em;
			}

		}

		&.scrolled {
			.nav-item {
				.nav-link {
					background: transparent;
				}
			}

			.nav-scroll {
				display: inline-block;

				.nav-link {
					font-size: 1.3em;
				}

			}
		}
	}







}

.display-block-xs {
	@media screen and (max-width: 520px) {
		display: block;
	}


}

@media screen and (max-width: 520px) {

	#pricing {
		.container {
			padding: 0px;
		}

		.main-content-panel {
			padding: 5px;
		}

		.nav {
			display: block;
		}

		.text-block {
			margin-top: 20px;
		}

		.main-row {
			.text-row {
				.btn-group {
					display: block;
					a {
						margin-top: 15px;
					}
				}
			}
		}

		.promo-row {
			display: block;
		}

		.promo-enter {
			margin-bottom: 30px;
		}

	}

	#reviews.pricing-reviews {
		img {
			display: none;
		}
	}

	.admin-content {
		padding: 0px;
		.full-width-tabs {
			display: block;
			border-bottom: 1px solid #e4e4e4;
		}

		.responsive-mate {
			min-width: 20px;
		}
	}

	.track-order-wrap {
		.step.done {
			.step-tier:after {
			    display: none;
			}
		}

		.step.pending {
			.step-tier:before {
				display: none;
			}
		}
	}

	.responsive-table {
		.responsive-mate {
			thead {
				display: none;
			}

			tr {
				@include flex();
				flex-direction: column;
				flex-wrap: wrap;
				min-width: 100vw;
				border-bottom: 1px solid #e4e4e4;
			}

			td {
				border-bottom: 1px solid #f4f4f4;
			}

		}
	}

	#pricing-page {
		.main-content {
			.nav.nav-tabs {
				display: block !important;
			}

			.tab-content {

				.order-img {
					display: none;
				}
				.order-info .btn.btn-order {
					display: block;
				}

				.order-info {
					img {
						display: block;
						width: 200px;
						margin-top: 15px;
					}
				}

				.head {
					margin-top: 20px;
				}
			}
		}

		.promo-code-wrap {
			.form-control {
				width: 100%;
				max-width: 100%;
				margin-bottom: 10px;
			}

			.btn.btn-promo {
				width: 100%;
				margin: 0px;
			}
		}
	}


	.content-info {
		h1 {
			font-size: 2em !important;
		}
	}

	#track-order {
		.track-order-wrap {
			margin-top: 30px;
			.step {
				.step-tier {
					img {
						width: 70px;
					}
					display: inline-block;
					margin-right: 10px;
				}

				.tier-slug {
					display: inline-block;
					vertical-align: middle;
				}

				.tier-info {
					display: none;
				}

				&.active {
					.step-tier {
						img {
							width: 80px;
						}
					}
				}
			}
		}
	}

	#welcome-mat {
		#cover-particles {
			canvas {
				width: 100vw;
				min-height: 100vh !important;
			}
		}
	}

	#perks .perk {
		margin-bottom: 50px;
	}

	.content-info {
		max-width: 9999% !important;
	}

	#pick-stuff {
		.side-gradient {
			z-index: -1;
		}
	}

	#live-chat {
		.screen-overlap {
			width: 50%;
			&:before {
				display: none;
			}
		}

		.content-info {
			margin-top: 20px;
			text-align: center;
			padding: 8px;
		}
	}



	#track-order {
		.step-tier {
			&:before, &:after {
				display: none;
			}
		}
		.step {
			margin-bottom: 20px;
		}
	}

	#features {
		.content-row {
			min-height: 0px;
		}
		min-height: 0px;
		.features-container {
			min-height: 0px;
		}
		.feature {
			min-height: 0px;
			.feature-bg {
				width: 600%;
				opacity: 0.4;
			}
		}
		.features-pagination {
			bottom: 4%;
		}
	}

	#welcome-mat  {
		.floating-content {
			padding: 0px;

			.content-wrap {
				.cta-wrap {
					.btn.btn-custom.btn-transparent {
						display: block;
						width: 100%;
						margin-bottom: 10px;
						background:  rgba(51, 76, 99, 0.4);
					}
				}
			}

		}
	}


	#reviews img {
		width: 100%;
	}

	#order-tutorial {
		.vertical-process {
			margin-top: 30px;
			.step {
				.desc {
					max-width: 70%;
				}
			}
		}
	}


	#primary-nav {
		top: 0px;
		.container {
			width: 100%;
		}

		.nav-item, .nav-scroll {
			.nav-link {
				font-size: 1em;
			}
		}

		.navbar-toggler {
			span {
				padding: 4px;
			}
		}

		&.scrolled {
			.nav-scroll {
				.nav-link {
					font-size: 1em;
				}
			}
		}

	}


}