/* =========================

App: Overwatch Boost
Version: 1.0
Author: Hardik Manktala
Contact:
	- http://www.hardikmanktala.com
	- chat@hardikmanktala.com
	- Skype: hardik.manktala

========================= */

/* ======================

root.css - Main Stylesheet

======================= */

// Base Imports
@import "_variables";
@import "_mixins";

// Font Faces
@import "_fonts";


// Module Imports
@import "modules/_general";
@import "modules/_navbar";
@import "modules/_home";
@import "modules/_pricing";
@import "modules/_demo";
@import "modules/_admin";
@import "modules/_counter";
@import "modules/_footer";